<h1>Restaurants</h1>

<div class="grid-index">
  <% @restaurants.each do |restaurant| %>
    <div class="card-index">
      <img src="https://source.unsplash.com/random/?restaurant"/>
      <div class="card-index-infos">
        <h2><%= link_to restaurant.name, restaurant_path(restaurant), class: "name-restaurant" %></h2>
        <p><%= restaurant.address %></p>
        <p><%= restaurant.phone_number %></p>
      </div>
    </div>
  <% end %>
</div>
