h1 {
  text-align: center;
  padding: 20px;
}

.grid-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.banner-show {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-index {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 500px;
  border-radius: 5px;
  margin: 15px;
}

.card-index img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-index .card-index-infos {
  padding: 16px;
}

.card-index a {
  text-decoration: none;
  color: black;
}

.card-review {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin: 15px;
  padding: 20px;
}

.card-review p {
  text-align: center;
}

.button-new-review {
  background: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.div-button {
  display: flex;
  justify-content: center;
  padding: 20px;
}
